import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from yahoo_fin.stock_info import *
from statsmodels.tsa.stattools import adfuller
